{% extends 'base.html.twig' %}

{% block title %}Hello HelpController!{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('/assets/css/help.css') }}"/>
<div class="main__help__center">
    <h1 class="help__center__title">Centre d'aide</h1>
    <details class="help__block__wrapper">
        <summary>Créer son propre parcours</summary>
    </details>
</div>
{% endblock %}
