{% extends 'map.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
    <div id="map"></div>
    <style>
        html, body {
            margin: 0;
        }
        #map {
            height: 100vh;
            width: 100vw;
            box-sizing: border-box;
        }
    </style>
{% endblock %}
