{% extends 'map.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
    <div id="map"></div>
    <style>
        html, body {
            margin: 0;
        }
        #map {
            height: 100vh;
            width: 100vw;
            box-sizing: border-box;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', async () => {
            await Run.init( {{ { 'id': run.id, 'name': run.name, 'created_at': run.createdAt,
             'map': run.map, 'date': run.runDate }|json_encode()|raw }} );
        });
    </script>
{% endblock %}
