{% extends 'base.html.twig' %}

{% block title %}Profil - admin{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre profil Admin !</h1>

    <section>
        <h2>Profils de coureurs</h2>
        <div>
            <a href="{{ path('app_admin_runner_new') }}">creer un profil</a>
            <a href="{{ path('app_admin_runners') }}">Gerer les profils</a>
        </div>
    </section>

    <section>
        <h2>Creation des courses</h2>
        <div>
            <a href="{{ path('app_admin_run_new') }}">creer une course</a>
            <a href="{{ path('app_admin_runs') }}">Gerer les courses</a>
        </div>
    </section>
{% endblock %}
