<form method="post" action="{{ path('app_admin_run_delete', {'id': run.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette course ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ run.id) }}">
    <button class="btn">Supprimer</button>
</form>
