:root {
    --p-color: #3a859a;
    --s-color: #1e1e1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    color: var(--s-color);
    background-color: #eee;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

::selection {
    background-color: #55bedcad;
}

.main__help__center {
    margin: 0 auto;
    width: fit-content;
}

.help__center__title {
    display: block;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.help__block__wrapper {
    cursor: pointer;
    background-color: #eee;
    border: 3px solid #3a859a;
    color: #3a859a;
    user-select: none;
    text-align: center;
    padding: .6rem .8rem;
    border-radius: 4px;
}

.help__block__wrapper summary {
    list-style: none;
    font-size: 1.6rem;
    width: max-content;
    line-height: 1;
    color: #3a859a;
}

.help__block__wrapper summary::after {
    content: "+";
    display: inline-block;
    margin: 0 8px 0 16px;
    font-size: 1.6rem;
    color: #3a859a;
    border: 3px solid #3a859a;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 0.65;
}

.help__block__wrapper[open] summary::after {
    content: "-";
}

.help__content__wrapper, .help__content__step {

}
.help__picture,
.help__image {
    max-width:  50%;
}