{% extends 'base.html.twig' %}

{% block title %}Profil - {{user.login}}{% endblock %}

{% block body %}

<div>
    {% for run in runs %}
        <p>{{run.name}}</p>
        <a href="">participer</a>
    {% else %}
        <p>Aucune carte est disponible en ce moment.</p>
    {% endfor %}
</div>
{% endblock %}
