{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not trouvée</h1>
    <p>
        La page que vous tentez d'accéder n'existe pas.
        <a href="{{ path('app_map_index') }}">Retour a la page d'accueil</a>.
    </p>
{% endblock %}