<form method="post" action="{{ path('app_admin_runner_delete', {'id': runner.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce coureur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ runner.id) }}">
    <button class="btn">Supprimer</button>
</form>
