{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/font.css") }}">
<link rel="stylesheet" href="{{ asset("assets/css/base.css") }}">
{% endblock %}

{% block title %}New Runner{% endblock %}

{% block body %}
    <h1>Créer le profil d'un coureur</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('app_admin_index') }}">Accueil</a>
{% endblock %}
